<%- partial('_partial/header') %>
<div class="page">
  <div class="page-title">
    <h1 class="article-title"><%= page.slug %></h1>
  </div>
  <div class="page-content">
    <%- page.content %>
  </div>
</div>
<%- partial('_partial/footer') %>
