.article-title {
  font-size: 1.5em;
  line-height: 1.2em;
  border-bottom: 1px solid #000;
}

.archive {
  padding: 0 20px;
  margin-bottom: 1em;

  .post-archive {
    list-style: none;
    padding: 0;

    .post-item {
      margin: 6px 0;
      line-height: 1.5;

      .post-date {
        float: right;
      
        @media screen and (max-width: 425px) {
          float: none;
          margin-left: 0.5em;
          font-size: 90%;
          color: #999;
        }
      }

      .post-title {
        border-bottom: 1px dotted;

        &:hover {
          border-bottom: 1px solid;
        }
      }
    }
  }
}
