.article-title {
  font-size: 1.5em;
  line-height: 1.2em;
  border-bottom: 1px solid #000;
}

.archive {
  padding: 0 20px;
  margin-bottom: 2em;

  .post-archive {
    list-style: none;
    padding: 0;

    .post-item {
      margin: 6px 0;

      .post-date {
        float: right;
      }

      .post-title {
        border-bottom: 1px dotted;

        &:hover {
          border-bottom: 1px solid;
        }
      }
    }
  }
}
