.header {
  margin-bottom: 2em;
  padding: 0 20px;

  .blog-title {
    font-size: 2.5em;
    text-align: center;
    padding-top: 0.5em
  }

  .subtitle {
    font-size: 14px;
    color: gray;
  }

  .menu {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;

    .menu-item {
      margin: 0 15px 0 0;
      padding: 3px 0 3px 0;
      float: left;
      display: inline-block;
    }

    .menu-item-link {
      color: #999;

      &:hover {
        color: #000;
      }
    }
  }
}